:root {
    --light: #E4F9F5;
    --cyan: #30E3CA;
    --turquoise: #11999E;
    --dark: rgba(64, 81, 78, 0.95);
  }
  
.taskform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.mainbutton{
    color: black;
    background-color: var(--cyan);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid var(--light);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 100px 10px 10px 10px;
}
.row > button{
    color: var(--light);
    background-color: var(--turquoise);
    font-size: 20px;
    border: 2px solid var(--cyan);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    width: 150px;
}
.btn-group > button{
    max-width: 40px;
}
.datepicker{
    color: var(--turquoise)
}

.taskform > form {
    background-color: var(--turquoise);
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    height: 40px;
    width: 400px;
    border-radius: 30px;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: var(--cyan);
    border: 0;
    text-align: center;

}

textarea {
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    width: 400px;
    resize: none!important;
    overflow: auto;
    border: 0;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--cyan);
}

form span {
    display: block;
    text-align: center;
    color: var(--light);
    font-size: 20px;
    margin: 2px;
}

label{
    text-align: center;
}

.mesdiv{
    padding: 5px;
    color: var(--light);
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    font-size: 16px;
    text-align: center;    
}

td{
    max-width: 600px !important;
    overflow: hidden !important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    margin: auto!important;
}

#root{
    height: 100%;
    background-color: var(--turquoise);
}

h1{
    background-color: var(--cyan);
    padding: 20px 0px;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
}
table{
    background-color: var(--light);
    border: 0px!important;
}
.table > :not(caption) > * > *{
    border: 0px!important;
}
.row{
    margin: 0!important;
}

th{
    background-color: var(--cyan)!important;
    font-size: 20px;
}
tr:nth-child(even):not(.successtask) {
    background-color: var(--light);
}
tr:nth-child(odd):not(.successtask) {
    background-color: #b6eee6;
}
.succestask{
    background-color: #b0ffad!important;
}
tr{
    border: 1px solid var(--dark)!important;
}
.expired{
    background-color: rgb(190, 85, 85)!important;
    color: white;
}